body 
{
	overflow: hidden;
	margin: 0;
	padding: 0;
   font-size: 20px;
   font-family: Arial, Helvetica, Sans-serif; 
}
a
{
	text-decoration: none;
	cursor: pointer;
}
a:hover
{
	
text-decoration: underline;
}
header 
{
width: 100%;
height: 60px;

}
header nav  
{
	display: flex;
	justify-content: flex-end;
}
header nav .lista-nav 
{

width: 250px;
height: auto;
 display: flex;
 list-style: none;
justify-content: center;
align-items: center; 
margin-right: 50px;

}
header nav .lista-nav a
{

margin-right: 30px;

color: #000000;

}
header nav .lista-nav .menu-icon
{
	background-image: url('../2x/menu-de-puntos .png'); 
	background-repeat: no-repeat;
	background-position: center;
	  width: 25px; 
	  height: 25px;
background-size: contain;
cursor: pointer;
margin-left: 20px;
}
nav .lista-nav img
{
border-radius: 50%;
margin-left: 40px;
  width: 50px; 
	  height: 47px;
}
header .logo .contenido 
{
	display: flex;
	justify-content: center;
	align-items: center;
/*  */
}
header .logo .contenido .google
{

	width: 418px; 
	  height: 138px;
}
main{
	margin-top:35px;

	text-align: center;
align-items: center;
}
main   .main-input {
	width: 900px;
	margin:0 auto;
	margin-bottom: 35px; 



}
 main .main-input .main-text{
	width: 850px;
 height: 65px;
border-radius: 100px;
border:1px solid #dfe1e5;
display: flex;
justify-content: center;
align-items: center;
}
main .main-text input
{
width: 690px;
height: 30px;

font-size: 25px;

border:none;
outline: none;
}
main .main-text:hover 
{
box-shadow:0 1px 6px 0 #20212447 ;
border-color:#dfe1e500;
}
main .main-text .buscar-icono 
{
	background-image: url('../2x/search.png'); 
	background-repeat: no-repeat;
	background-position: center;
	  width: 20px; 
	  height: 20px;
background-size: contain;
display: flex;
justify-content: center;
align-items: center;
margin-right: 20px;
}
main .main-text .micro-icon
{
	background-image: url('../2x/micro.png'); 
	background-repeat: no-repeat;
	background-position: center;
	  width: 50px; 
	  height: 50px;
background-size: contain;
margin-left: 20px;
}

main .main-buttons button
{
background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 20px;
    margin: 11px 4px;
    padding: 14px 40px ;   
    cursor: pointer;
    user-select: none;

}
main .main-buttons button:hover
{
	  border: 2px solid #f8f9fa;
	  box-shadow:0 1px 6px 0 #20212447 ;
      border-color:#dfe1e500;
}
footer 
{
        background:  #f8f9fa;
        width: 100%;
        height: 70px;
        margin-top: 830px;
}
footer div {
        display: flex;
 height: 70px;
    display: flex;
        list-style: none;
align-items: center;

}
footer div a 
{
	 height: 70px;
       
        color: #9C9C9C;
}
footer div .sd
{
margin-right:  0px;
}
footer div .si 
{
	margin-left:  700px;
}
footer .sd ul .derecha {


        height: auto;
     list-style: none;
display: inline-block;
justify-content: center;
margin-left:50px;
}footer div ul .izquierda {
	 height: 70px;

display: inline-block;
list-style: none;
   height: auto;
	margin-left:40px;
}